body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #65ae42;
    color: #fff;
} 

h2 {
    border-bottom: 1px solid black;
}

.img100 {
    width:100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid white;
}

.img-map{
    position: relative;
}

.click-zone {
    position: absolute;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.app-container {
    max-width: 1280px;
    max-height: 720px;
    margin: auto;
    width: 80%;
    height: 80%;
}

.screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-2-column {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10%;
}

.button-text {
    background-color: #444;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid white;
    margin:10px;
}

.next-arry {
    margin:10px;
    animation: blinker 1s linear infinite;
    cursor: pointer;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}

.button-intro{
    top:50%;
    left:50%;
}

.message-screen {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    z-index: 100;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.message-box {
    background-color: #65ae42;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid white;
    color: white;
    max-width: 400px;
    width: 80%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.white-triangle {
    border-right: 20px solid rgba(255, 255, 255, 0);;
    border-top: 20px solid white;
    position: relative;
    bottom:0;
  }

.green-triangle {
    border-right: 18px solid rgba(255, 255, 255, 0);;
    border-top: 18px solid #65ae42;
    position: absolute;
    top:-22px;
    left:2px;
  }

  @media screen and (max-width: 1280px) {
    .app-container {
        font-size: smaller;
    }
}