<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest.json">
    <!-- <script src="https://vuejs.org/js/vue.min.js"></script> -->
    <script src="https://vuejs.org/js/vue.js"></script>
    <title>enigme0</title>
</head>

<body>
    <!-- <iframe src="https://en.wikipedia.org/wiki/HTML_element#Frames"
    frameborder="0" 
    marginheight="0" 
    marginwidth="0" 
    width="100%" 
    height="100%" 
    scrolling="auto"> 
</iframe>  -->
    <div id="app" class="app-container">
        
        <div class="screen intro-container" v-if="currentScreen === 'intro'">
            <div class="img-map">
                <img class="img100" :src="introImage"/>
                <div class="click-zone button-text button-intro" v-on:click="letsPlay" onclick="fsRequest()" >Jouer Jouer</div>
            </div>
        </div>
        <div class="screen board-container" v-if="currentScreen === 'board'">
            <div 
                v-for="(enigme) in enigmes" 
                class="button-text" v-on:click="displayEnigme(enigme)"
                v-if="enigme.questions[enigme.currentQuestion]"
            >
                {{ enigme.title }}
            </div>

            <div 
                v-for="(enigme) in enigmes" 
                v-if="!enigme.questions[enigme.currentQuestion]"
            >
                {{ enigme.title }} : fini !
            </div>
        </div>
        <div class="enigme-container" v-if="currentEnigme">
            <div class="img-map">
                <img class="img100" :src="currentEnigme.image"/>
                <div v-for="(zone, zoneName) in currentEnigme.zones" class="click-zone" :style="{
                    height: zone.height,
                    width: zone.width,
                    top: zone.top,
                    left: zone.left,
                    border: zone.border,
                }"
                v-on:click="resolve(zoneName)"></div>
            </div>
        </div>
        
        <div class="message-screen" v-if="iaSpeeking">
            <div  class="message-box">
                {{ message }}
                <div v-if="qcmMessage">
                    <p> {{ qcmMessage.question }} </p>
                    <div class="grid-2-column">
                        <div v-for="proposition in qcmMessage.propositions" v-on:click="resolve(proposition)" class="button-text">{{ proposition }}
                        </div>
                    </div>
                </div>
                <div class="next-arry" v-if="waitingSpeech" v-on:click="nextMessage">&#10140;</div>
                <div class="button-text" v-if="!qcmMessage" v-on:click="okMessage">OK</div>
            </div>
            <div class="white-triangle"><div class="green-triangle"></div></div>
        </div>
    </div>
</body>
<script type="text/javascript" src="data.js"></script>
<script type="text/javascript" src="index.js"></script>
<script>
    function fsRequest (){
        window.scrollTo(0,1);

            var appli = document.getElementById('app').requestFullscreen();
            console.log (document.getElementById('app'))
            if (appli.requestFullscreen) {
                appli.requestFullscreen();
            } else if (appli.webkitRequestFullscreen) {
                appli.webkitRequestFullscreen();
            } else if (appli.mozRequestFullScreen) {
                appli.mozRequestFullScreen();
            } else if (appli.msRequestFullscreen) {
                appli.msRequestFullscreen();
            }
    }
</script>


</html>