body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
    overflow: hidden;
    /* display:flex;
    align-items: center;
    justify-content: center; */
} 

h2 {
    border-bottom: 1px solid black;
}

.img100 {
    width: 100%;
    height: 100%;
}

.img-map{
    position: relative;

}

.click-zone {
    position: absolute;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.app-container {
    max-width: 500px;
    max-height: 500px;
    margin: auto;
    width: 100vw;
    height: 100vh;

}

.screen {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-2-column {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10%;
}

.button-text {
    /* font-size: 150%; */
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.button-intro{
    top:50%;
    left:50%;
}

.message-screen {
    /* filter: blur(2px); */
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    /* background-color: black; */
    /* opacity: 0.5; */
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    z-index: 100;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.message-box {
    /* opacity: 1; */
    background-color: #65ae42;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid white;
    color: white;
    /* position : absolute; */
    max-width: 400px;
    /* margin-left: 2%; */
    width: 80%;
    /* top:30vh;
    z-index: 1000; */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.white-triangle {
    border-right: 20px solid rgba(255, 255, 255, 0);;
    border-top: 20px solid white;
    position: relative;
    bottom:0;
  }

.green-triangle {
    border-right: 18px solid rgba(255, 255, 255, 0);;
    border-top: 18px solid #65ae42;
    position: absolute;
    top:-22px;
    left:2px;
  }